<!DOCTYPE html>


{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->



<html> 
  <head> 
    <title> Data by Country </title>  
  </head>
  
  <body>
    
    <form action="/fact">
      <label for="country">Choose a country:</label>
      <select name="country" id="country">
        {{options}}
      </select>
      <br><br>
      <input type = "submit" value = "get data" onchange="this.form.submit();">
    </form>
    
    <p>{{Data of country}}</p>
    
    </body>
</html>
