<!DOCTYPE html>


{% extends "layout.html" %}

{% set active_page = "databycountrydisplay" %}

{% block title %}Data by Country Display{% endblock %}

{% block content %}
    <!--page content-->



<html> 
  <head> 
    <title> Data by Country </title>  
  </head>
  
  <body>
    
    <form action="/data">
      <label for="country">Choose a country:</label>
      <select name="country" id="country">
        {{options}}
      </select>
      <br><br>
      <input type = "submit" value = "get data" onchange="this.form.submit();">
    </form>
   <p>{{countryFact}}</p>
    </body>

{% endblock %}
