{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Home Page</h1>
<p>The data used in this web app is from a CORGIS data chart and it can be found <a href="https://think.cs.vt.edu/corgis/json/aids/">here</a>. The data contains 
    information about the HIV/AIDS cases recorded from 1990 to 2015 globally.This data was recorded annually 
    and we are given information to each of participants such as age ranges and sex. We are given this information 
    in order to create more statistics for certain groups.


    One of these statistics that were recorded annually was calculating the prevalence of the condition.
    To calculate this statistic you have to calculate the percent of those infected out of those who aren't infected 
    that year. For example in the year 2005 to 2006 the prevalence of HIV/AIDS deaths was at its highest globally with 3.09 and 3.12 million new deaths. 
    However in 2017 the prevalence of HIV/Aids deaths would be cut in half with 954,492 deceased.<a href="https://ourworldindata.org/hiv-aids">(Source)</a>


    The prevalence of death from HIV/AIDS could be due to the significant decrease in the prevalence of new 
    infections of HIV/AIDS with 1.94 million new cases in 2017 compared to 3.16 million cases in 1999.<a href="https://ourworldindata.org/hiv-aids">(Source)</a>



</p>
    {% endblock %}
